@import "config";
@import "menu";

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

#last-name {
  color: $secondary-color;
}

:only-of-type.text-secondary {
  //watch out for this one !important will cause code smell...
  color: $secondary-color;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  height: 100%;
  //sticky footer
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  //ANIMATION STARTS HERE
  .anim {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
  }
  .circle {
    display: block;
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    bottom: 60px;
    right: 60px;
  }
  .circle.o {
    background-color: #000;
    border-right: 1px solid rgba(91, 202, 255, 0.05);
    box-shadow: inset -35px -5px 0px 0px rgba(91, 202, 255, 0.05);
    position: absolute;
    bottom: 100px;
    right: 100px;
  }

  .circle.h {
    z-index: 10;
    background-color: transparent;
    border: 1px solid white;
    animation: spinc 12.5s linear infinite forwards;
    position: absolute;
    bottom: 100px;
    right: 100px;
  }

  .circle.v {
    z-index: 10;
    background-color: transparent;
    border: 1px solid white;
    animation: spinb 12.5s linear infinite forwards;
    position: absolute;
    bottom: 100px;
    right: 100px;
  }

  .center {
    display: block;
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 4;
    position: absolute;
    bottom: 100px;
    right: 100px;
  }

  .orbit {
    display: block;
    position: absolute;
    height: 170px;
    width: 170px;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    z-index: 22;
  }

  .orbit:first-of-type {
    box-shadow: 0px 2px 0px 1px #ff8100;
    transform: rotateX(70deg);
    animation: spinX 12.5s linear infinite forwards;
  }

  .orbit:last-of-type {
    box-shadow: 2px 0px 0px 1px #ff8100;
    transform: rotateY(70deg);
    animation: spinY 12.5s linear infinite forwards;
  }

  @keyframes orbita {
    0% {
      z-index: 4;
      transform: translate(-100px, -100px) scale(1.5);
    }
    50% {
      z-index: 4;
      transform: translate(100px, 100px) scale(0.5);
    }
    100% {
      z-index: 9;
      transform: translate(-100px, -100px) scale(1.5);
    }
  }

  @keyframes orbitb {
    0% {
      z-index: 4;
      transform: translate(-100px, 100px) scale(1.5);
    }
    50% {
      z-index: 4;
      transform: translate(100px, -100px) scale(0.5);
    }
    100% {
      z-index: 9;
      transform: translate(-100px, 100px) scale(1.5);
    }
  }

  @keyframes orbitc {
    0% {
      z-index: 4;
      transform: translate(100px, 100px) scale(1.5);
    }
    50% {
      z-index: 4;
      transform: translate(-100px, -100px) scale(0.5);
    }
    100% {
      z-index: 9;
      transform: translate(100px, 100px) scale(1.5);
    }
  }

  @keyframes orbitd {
    0% {
      z-index: 4;
      transform: translate(100px, -100px) scale(1.5);
    }
    50% {
      z-index: 4;
      transform: translate(-100px, 100px) scale(0.5);
    }
    100% {
      z-index: 9;
      transform: translate(100px, -100px) scale(1.5);
    }
  }

  @keyframes spinb {
    0% {
      transform: rotateY(0deg);
    }
    25% {
      transform: rotateY(90deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    75% {
      transform: rotateY(270deg);
    }
    100% {
      transform: rotateY(359deg);
    }
  }

  @keyframes spinX {
    0% {
      transform: rotateX(0deg);
      box-shadow: 0px 2px 0px 1px red;
    }
    25% {
      transform: rotateX(90deg);
      box-shadow: 0px 2px 0px 1px #ff8100;
    }
    50% {
      transform: rotateX(180deg);
      box-shadow: 0px 2px 0px 1px #ff8100;
    }
    75% {
      transform: rotateX(270deg);
      box-shadow: 0px -2px 0px 1px #ff8100;
    }
    100% {
      transform: rotateX(360deg);
      box-shadow: 0px 2px 0px 1px #ff8100;
    }
  }

  @keyframes spinY {
    0% {
      transform: rotateY(0deg);
      box-shadow: 0px 2px 0px 1px red;
    }
    25% {
      transform: rotateY(90deg);
      box-shadow: 2px 0px 0px 1px #ff8100;
    }
    50% {
      transform: rotateY(180deg);
      box-shadow: -2px 0px 0px 1px #ff8100;
    }
    75% {
      transform: rotateY(180deg);
      box-shadow: -2px 0px 0px 1px #ff8100;
    }
    100% {
      transform: rotateY(360deg);
      box-shadow: 0px 2px 0px 1px #ff8100;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-bottom: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job-title {
  color: $secondary-color;
  text-decoration: underline;
}

.job-1 {
  grid-area: job1;
}

.job-2 {
  grid-area: job2;
}

.job-3 {
  grid-area: job3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: solid 3px $secondary-color;
}

//WORK /Projects

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    max-block-size: 200px;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.2;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//contact page

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 1rem 2rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($primary-color);
      }
    }
  }
}

//Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
